/* /Pages/Index.razor.rz.scp.css */
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-lvimwno5ko] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-lvimwno5ko] {
    flex: 1;
}

.sidebar[b-lvimwno5ko] {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-color: #EFFBFB;
}

.top-row[b-lvimwno5ko] {
    background-color: #EFFBFB;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-lvimwno5ko]  a, .top-row .btn-link[b-lvimwno5ko] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-lvimwno5ko] {
        overflow: hidden;
        text-overflow: ellipsis;
    }


.topnav[b-lvimwno5ko] {
    background-color: #FFFFFF;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a[b-lvimwno5ko] {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover[b-lvimwno5ko] {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active[b-lvimwno5ko] {
            background-color: #4CAF50;
            color: white;
        }


@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-lvimwno5ko] {
        display: none;
    }

    .top-row.auth[b-lvimwno5ko] {
        justify-content: space-between;
    }

    .top-row a[b-lvimwno5ko], .top-row .btn-link[b-lvimwno5ko] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-lvimwno5ko] {
        flex-direction: row;
    }

    .sidebar[b-lvimwno5ko] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-lvimwno5ko] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-lvimwno5ko] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}



/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-rvxjwx9jvv] {
    background-color: rgba(255, 255, 255, 0.1);
    /*background-color: #9BC2E6;*/
}

.top-row[b-rvxjwx9jvv] {
    height: 3.5rem;
    /* background-color: rgba(0,0,0,0.4);*/
}

.navbar-brand[b-rvxjwx9jvv] {
    font-size: 1.1rem;
}

.oi[b-rvxjwx9jvv] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-rvxjwx9jvv] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-rvxjwx9jvv] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-rvxjwx9jvv] {
        padding-bottom: 1rem;
    }

    .nav-item[b-rvxjwx9jvv]  a {
        color: #58ACFA;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-rvxjwx9jvv]  a.active {
            background-color: #BDD7EE;
            color: #045FB4;
        }

        .nav-item[b-rvxjwx9jvv]  a:hover {
            background-color: #BDD7EE; 
            color: #045FB4;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-rvxjwx9jvv] {
        display: none;
    }

    .collapse[b-rvxjwx9jvv] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
